@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(17, 2, 2);
    --h2-text-color: rgb(209, 185, 151);
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    color: var(--h2-text-color);
}

img {
    display: block;
    width: 100%;
}

