@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: black;
    --bg-color: #7acbd1;
    scroll-behavior: smooth;
    font-family: 'DotGothic16', sans-serif;
}

.container {
    max-width: 980px;
    margin: auto;
}

h1 {
    color: var(--text-color);
}

img {
    display: block;
    width: 100%;
}