@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(50, 206, 211);
    --border-color: grey;
    font-family: 'DotGothic16', sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
}


img {
    display: block;
    width: 100%;
}

.container {
    max-width: 980px;
    margin: auto;
}
