.product-card {
    border: 1px solid var(--text-color);
    padding: 5px;
}

@media (min-width: 500px) {
    
    .main-products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

}

@media (min-width: 600px) {
    
    .main-products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 800px) {
    
    .main-products__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}


